{{ define "footer" }}
</body>
<script src="/assets/scripts/jquery-2.2.3.min.js"></script>
  <script src="/assets/scripts/tether.min.js"></script>
  <script src="/assets/scripts/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
        crossorigin="anonymous"></script>
</html>
{{ end }}
