{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" http-equiv='refresh' content='60'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <style>
    body { background-color: #373A3C; }
  </style>
  <title>SensorNet</title>
</head>
<body>
<nav class="navbar navbar-dark bg-inverse">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sensors">Sensors </a>
    </li>
  </ul>
</nav>
{{ end }}
