{{ template "header" }}
<div class="container">
  <div class="card card-inverse" style="background-color: #373A3C; border-color: #373A3C;">
    <div class="card-block">
      <h3 class="card-title">Welcome to SensorNet</h3>
    </div>
  </div>
</div>
{{ template "footer" }}
