{{ template "header" }}
<div class="container">
  <div class="card card-inverse" style="background-color: #373A3C; border-color: #373A3C;">
      <h5 class="card-title">Sensor {{ .sensor.ID }} in {{ .sensor.Location }}</h5>
        <p class="card-text">
          Last update: <b>{{ .sensor.LastUpdate }}</b><br>
          Uptime: <b>{{ .sensor.Uptime }}</b>, Number of readings: <b>{{ .sensor.NumReadings }}</b><br>
          Current temp: <b>{{ .sensor.TempF }} F ({{ .sensor.TempC }} C)</b>, Average temp: <b>{{ .sensor.AvgTemp }} F</b><br>
          High temp: <b>{{ .sensor.HighTemp.TempF }} F on {{ .sensor.HighTemp.LastUpdate }}</b><br>
          Low temp: <b>{{ .sensor.LowTemp.TempF }} F on {{ .sensor.LowTemp.LastUpdate }}</b><br>
          <object data="/api/v1/sensor/{{ .sensor.ID }}/temp/graph" type="image/svg+xml">
          </object><br>
          SSID: <b>{{ .sensor.SSID }}</b>, Current signal: <b>{{ .sensor.Signal }} dBm</b>, 
          Average signal: <b>{{ .sensor.AvgSignal }} dBm</b>, IP: <b>{{ .sensor.IP }}</b><br>
          High signal: <b>{{ .sensor.HighSignal.Signal }} dBm on {{ .sensor.HighSignal.LastUpdate }}</b><br>
          Low signal: <b>{{ .sensor.LowSignal.Signal }} dBm on {{ .sensor.LowSignal.LastUpdate }}</b><br>
          <object data="/api/v1/sensor/{{ .sensor.ID }}/signal/graph" type="image/svg+xml">
          </object><br>
        </p>
  </div>
</div>
{{ template "footer" }}
